<!--<?php
include_once PrintEot('top');
print <<<EOT
-->
<script language="JavaScript1.2">
function validate(theform) {
	if (theform.songname.value=="" ) {
		alert("请填写音乐名称.");
		return false; }
		if (theform.songurl.value=="") {
		alert("请填写音乐地址.");
		return false; }
}
//-->
</script>

<script language = "JavaScript">
var onecount;
onecount=0;
subcat = new Array();
<!--
EOT;
showsinger();
print <<<EOT
-->
function changelocation(locationid)
    {
    document.FORM.singerid.length = 0; 

    var locationid=locationid;
    var i;
    for (i=0;i < onecount; i++)
        {
            if (subcat[i][1] == locationid)
            { 
                document.FORM.singerid.options[document.FORM.singerid.length] = new Option(subcat[i][0], subcat[i][2]);
            } 
        }
        
    }  
</script>
<form action="$basename" method="post" name="FORM" enctype="multipart/form-data">
<table width=98% border=0 align=center cellpadding=3 cellspacing=1 class=tableborder>
<tr class=header>
  <td height=25 colspan="2"><strong>添加音乐</strong></td>
</tr>
<tr class=bg>
  <td width="20%" height=25 align="right">音乐分类:</td>
  <td><select name="catid" onChange="changelocation(document.FORM.catid.options[document.FORM.catid.selectedIndex].value)"><option selected value="">[请选择分类]</option>
<!--
EOT;
showcat();
print <<<EOT
-->
</select></td>
</tr>
		
<tr class=bg>
  <td height=25 align="right">演 唱：</td>
  <td><select name="singerid"><option selected value="">[请选择歌手]</option></select></td>
</tr>

<tr class=bg>
  <td height=25 align="right">音乐名称：</td>
<td><input type=text name="songname" size=35 value="$songname" id="songname"></td></tr>

<tr class=bg>
  <td height=25 align="right">音乐地址：</td>
  <td><input type="text" name="songurl" size="48" value="$songurl" id="songurl">　
  <a href="#" onclick="OpenUp(ifupload)"><strong>从本地上传音乐</strong></a></td>
</tr>
<tr id="ifupload" style="display:none">
  <td colspan="2"><iframe frameborder="0" width="100%" height="50" scrolling="no" src="admin/upload.php"></iframe>
  		 <script language="JavaScript" type="text/javascript">
            function OpenUp(Theup)
            {
             Theup.style.display	=	"";
              }
              //-->
          </script></td>
  </tr>
<tr class=bg>
  <td height=25 align="right">是否添加的推荐列表：</td>
  <td>
  <select name="commend" size="1">
  <option value="yes" name="commend">是</option>
  <option value="no" name="commend" >否</option>
  </select>　</td></tr>
<tr class=bg>
  <td height=25 align="right">推荐力度：</td>
  <td>
  <select name="hot" size="1">
  <option value="1" name="hot">★</option>
  <option value="2" name="hot" >★★</option>
  <option value="3" name="hot">★★★</option>
  <option value="4" name="hot" selected>★★★★</option>
  <option value="5" name="hot">★★★★★</option>
  </select></td></tr>
<tr class=bg>
  <td height=25 align="right">LRC 歌词： </td>
  <td><input name="fileup" type="file" id="fileup" size="26" />
    （若无歌词文件请不要填）</td>
</tr>
</table>
<br />
<center>
<input type=hidden name="action" value="save">
<input type=submit value=" 提 交 " onclick="return validate(this.form)"></center>
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>
-->