<!--<?php
include_once PrintEot('top');
print <<<EOT
-->

<table width=98% border=0 align=center cellpadding=3 cellspacing=1 class=tableborder>
<tr class=header>
  <td height=25><strong>不良词语过滤</strong></td>
</tr>
<tr class=bg>
  <td><br /><strong>
    　功能说明：</strong><br />
    <br />
    　　不良词语过滤可以阻止一些不好的字眼出现在评论中。你可以选择过滤的单词，和过滤后的单词。<br />
    　　这样，不良词语在用户发表评论或查看评论时，都不会被显示。<br />
    <br /></td>
</tr>
<tr class=bg>
  <td><br /><strong>　
    使用方法：</strong><br />
    <br />
    　 输入一个要过滤的词语和过滤后的词语，并在中间加上 "=" (等于号)。
	<b>注意，每行只能写一个！</b>　<font color="#000000"><b>例如：</b>damn=d**n</font><br>
	<br></td>
</tr>
<tr class=bg>
<form action="$basename" method="post">
  <td align="center" valign="top"><br />
    <strong>
   请输入过滤单词：</strong><br />
    <br />
    <textarea cols="60" rows="6" wrap="virtual" name="wordarray">$badwords</textarea>
    <br />
    <br />
    <input type=hidden name="action" value="save">  <input type=submit value=" 提 交 "></td>
  </form>
  </tr>
</table>
<br />

<!--
EOT;
include_once PrintEot('adminbottom');
?>
-->