<!--
<?php print <<<EOT
-->
  <div id="Head_menu">
   <UL id=menu1>
   <li class="l1"><a href="index.php">首页</a></li>
   <li class="l2"><a href="sort.php">歌手</a></li>
   <li class="l3"><a href="hot.php">热门</a></li>
   <li class="l4"><a href="new.php">最新</a></li>
   <li class="l5"><a href="commend.php">推荐</a></li>
   <li class="l6"><a href="song.php">点歌</a></li>
   <li class="l7"><a href="musicbox.php">音乐盒</a></li>
   </UL>
  </div>
</div>

<!--Content Begin -->
<div id="Content">
  <div id="Main">
    <div id="Body">
	 <div id="Subtitle">$subtitle</div>
	 <div id="Dg">
	 <li><span class="left">点 歌 者：</span><font style="color:#099;">$user</font></li>
	 <li><span class="left">赠 送 给：</span><font style="color:#F39; font-weight:600;">$user2</font></li>
	 <li><span class="left">所点音乐：</span><font style="color:green;">$songname</font></li>
	 <li><span class="left">点歌时间：</span>$diangetime</li>
	 <li><span class="left">想要说的话：</span><font style="color:#F30;">$say</font></li>
	 <li><span class="left">操 作：</span>【<a href="play.php?id=$songid"><font style="color:blue;
	 ">点击试听</font></a>】</li>
	 </div>
    </div>
    <!--Sidebar Begin -->
	<div id="Sidebar">
	 <!--右边预留位置开始 -->
	 <div id="RightBanner"></div>
	 <!--预留位置结束 -->
    </div>
	<!--Sidebar End -->
  </div>
</div>
<!--Content End -->

<!--
EOT;
?>-->