<!--
<?php print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$subtitle - $site_name Powered by iShowSky.cn</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<META content="Ghost" name=author>
<META http-equiv="pragma" content="no-cache">
<META http-equiv="Cache-Control" content="no-cache, must-revalidate">
<META name="copyright" content="Ghost,小鬼当家，iShowSky.cn" >
<meta name="keywords" content="小鬼当家,小鬼当家音乐系统,Ghost,iShowMusic,音乐,music,php,txt">
<style type="text/css" title="currentStyle" media="screen">
	@import "$skinpath/$skin/images/css.css";
</style>
<script language="JavaScript" src="js/common.js"></script>
<script language="JavaScript" src="js/box.js"></script>
<script language="JavaScript" src="js/ajax.js"></script>
</head>
<body onkeydown="if(event.keyCode==27) return false;"> 
<div id="loader_container"> 
<div id="loader" style="width: 130px; height: 48px"> 
<div align="center"><font color="#FF9900">页面正在加载中 <br> 
请稍候...</font></div> 
<div id="loader_bg"><div id="progress"> </div></div> 
</div> 
</div>
<!--Head Begin  -->
<div id="Head">
  <div id="logo"><A href="http://www.ishowsky.cn/">iShowMusic</A></div>
<!--
EOT;
?>-->