<!--
<?php print <<<EOT
-->
  <div id="Head_menu">
   <UL id=menu1>
   <li class="l1"><a href="index.php">首页</a></li>
   <li class="l2"><a href="sort.php">歌手</a></li>
   <li class="l3"><a href="hot.php">热门</a></li>
   <li class="l4"><a href="new.php">最新</a></li>
   <li class="l5"><a href="commend.php">推荐</a></li>
   <li class="l6"><a href="song.php">点歌</a></li>
   <li class="l7"><a href="musicbox.php">音乐盒</a></li>
   </UL>
  </div>
</div>

<!--Content Begin -->
<div id="Content">
  <div id="Main">
    <div id="Body">
	 <div id="Subtitle">$subtitle</div>
	 <div id="Member">
	  <div class="title"><span class="red">$user_nicheng</span> ( <span class="green">$user_name</span> ), 您好, 欢迎光临 <span class="green">$site_name</span> ! 下面是你可能要用到的链接 </div>
	  <div class="Mcontent">
	   <div class="icon"><a href="musicbox.php"><img src="$skinpath/$skin/images/icon_box.gif"/></a></div> 
	   <div class="MemTitle"><a href="musicbox.php">我 的 音 乐 盒</a></div>
	   <div class="zs">你可以将你喜欢的歌曲收藏在这里，这样下次你就可以很方便的收听了!</div>
	   </div>
	   	   
	   <div class="Mcontent">
	   <div class="icon"><a href="song.php"><img src="$skinpath/$skin/images/icon_diange.gif"/></a></div> 
	   <div class="MemTitle"><a href="song.php">点 歌 台</a></div>
	   <div class="zs">点首歌给你的好友,送上你诚挚的祝福,还等什么呢? Come on!</div>
	   </div>
	   
	   <div class="Mcontent">
	   <div class="icon"><a href="usercom.php"><img src="$skinpath/$skin/images/icon_commend.gif"/></a></div> 
	   <div class="MemTitle"><a href="usercom.php">向本站推荐音乐</a></div>
	   <div class="zs">把你喜欢的歌推荐给本站，让别人也能分享音乐所带来的快乐.</div>
	   </div>
	   	   
	   <div class="Mcontent">
	   <div class="icon"><a href="editpsd.php"><img src="$skinpath/$skin/images/icon_editpsd.gif"/></a></div> 
	   <div class="MemTitle"><a href="editpsd.php">修改登录密码</a></div>
	   <div class="zs">修改你的登录密码,下次再登录时请用新的密码.</div>
	   </div>
	   
	   <div class="Mcontent">
	   <div class="icon"><a href="login.php?action=out"><img src="$skinpath/$skin/images/icon_exit.gif"/></a></div> 
	   <div class="MemTitle"><a href="login.php?action=out">安 全 退 出</a></div>
	   <div class="zs">退出会员中心，退出后将清空个人在本机器上的Cookie信息.</div>
	   </div>
	   
	 </div>
	</div>
    <!--Sidebar Begin -->
	<div id="Sidebar">
	
	 <!--右边预留位置开始 -->
	 <div id="RightBanner"></div>
	 <!--预留位置结束 -->
	 
	 <!--Sidebar End -->
    </div>
  </div>
</div>
<!--Content End -->

<!--
EOT;
?>-->